<a href="https://colab.research.google.com/github/suhel64/FML/blob/main/penguin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [94]:
pen=pd.read_csv('/content/penguins.csv')

In [95]:
pen.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [53]:
pen.tail()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [96]:
pen.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [97]:
pen=pen.fillna(pen.mean(numeric_only=True))
# NUMERIC_ONLY otherwise error

In [98]:
pen['sex'].replace(np.NaN,pen['sex'].mode()[0],inplace=True)

In [62]:
pen.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,0,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007
1,2,0,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007
2,3,0,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007
3,4,0,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007
4,5,0,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007

In [58]:
pen.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [41]:
pen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [108]:
pen.island.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [ ]:
pen.species[pen.species=='Adelie']=0

In [ ]:
pen.species[pen.species=='Gentoo']=1

In [ ]:
pen.species[pen.species=='Chinstrap']=2

loc is used otherwise error

In [104]:
pen['species']=pd.to_numeric(pen['species'])

In [ ]:
pen.sex[pen.sex=='male']=0

In [ ]:
pen.sex[pen.sex=='female']=1

In [107]:
pen['sex']=pd.to_numeric(pen['sex'])

In [ ]:
pen.island[pen.island=='Torgersen']=0

In [ ]:
pen.island[pen.island=='Biscoe']=1

In [ ]:
pen.island[pen.island=='Dream']=2

In [113]:
pen['island']=pd.to_numeric(pen['island'])

In [114]:
pen.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,0,0,39.10000,18.70000,181.000000,3750.000000,0,2007
1,2,0,0,39.50000,17.40000,186.000000,3800.000000,1,2007
2,3,0,0,40.30000,18.00000,195.000000,3250.000000,1,2007
3,4,0,0,43.92193,17.15117,200.915205,4201.754386,0,2007
4,5,0,0,36.70000,19.30000,193.000000,3450.000000,1,2007

In [115]:
pen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    int64
 2   island             344 non-null    int64
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    int64
 8   year               344 non-null    int64
dtypes: float64(4), int64(5)
memory usage: 24.3 KB

In [116]:
X = pen.drop(['rowid','species'], axis=1).values
y = pen['species'].values

In [117]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [118]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)

In [120]:
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()    
X_train= st_x.fit_transform(X_train)    
X_test= st_x.transform(X_test)

In [121]:
#3. Create model and train it
model = LogisticRegression(C=0.5)
model.fit(X_train,y_train)

LogisticRegression(C=0.5)

In [123]:
model.score(X_test, y_test)

0.9855072463768116

In [128]:
pen[:200]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,0,0,39.10000,18.70000,181.000000,3750.000000,0,2007
1,2,0,0,39.50000,17.40000,186.000000,3800.000000,1,2007
2,3,0,0,40.30000,18.00000,195.000000,3250.000000,1,2007
3,4,0,0,43.92193,17.15117,200.915205,4201.754386,0,2007
4,5,0,0,36.70000,19.30000,193.000000,3450.000000,1,2007
...,...,...,...,...,...,...,...,...,...
195,196,1,1,49.60000,15.00000,216.000000,4750.000000,0,2008
196,197,1,1,50.50000,15.90000,222.000000,5550.000000,0,2008
197,198,1,1,43.60000,13.90000,217.000000,4900.000000,1,2008
198,199,1,1,45.50000,13.90000,210.000000,4200.000000,1,2008
199,200,1,1,50.50000,15.90000,225.000000,5400.000000,0,2008